[Unit]
Description=PiInfo

[Service]
Type=simple
User=wunderwungiel
WorkingDirectory=/home/wunderwungiel/docker/piinfo
ExecStart=/home/wunderwungiel/docker/piinfo/main.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
